<app-navigation-bar></app-navigation-bar>

<div class="bg-white font-sans" *ngIf="productDetails">
  <main
    class="flex flex-col gap-1 mt-20 md:mt-24 lg:mt-28 pb-20 px-10 sm:px-12 md:px-8 lg:px-24"
  >
    <button
      (click)="goBack()"
      class="text-black text-[1rem] font-medium py-1 mb-2 w-20 bg-gray-200 hover:text-gray-700 cursor-pointer rounded-lg"
    >
      <i class="fas fa-angle-left"></i>
      Back
    </button>

    <div class="sm:flex border-blue-600 border-2 rounded-xl bg-blue-200">
      <div
        class="relative w-full lg:w-[30%] h-64 sm:h-72 md:h-80 lg:h-80 bg-white rounded-tl-xl sm:rounded-bl-xl rounded-tr-xl sm:rounded-tr-none mx-auto pt-1"
      >
        <img
          ngSrc="{{ productDetails.image }}"
          fill
          [alt]="productDetails.name"
          loading="lazy"
          class="object-contain rounded-tl-xl sm:rounded-bl-xl sm:rounded-tr-none rounded-tr-xl py-2 px-3"
        />
      </div>

      <div class="text-gray-700 flex flex-col px-4 py-4 lg:w-[70%]">
        <h3 class="font-bold text-[1.2rem] md:text-[1.5rem] text-gray-800">
          {{ productDetails.name }}
        </h3>
        <p class="text-[0.8rem] md:text-[1rem] text-justify">
          {{ productDetails.description }}
        </p>
        <p
          class="font-medium text-gray-950 text-[1.1rem] md:text-[1.3rem] pt-2"
        >
          ₦{{ productDetails.price }}
        </p>
        <p class="text-md">
          <span class="font-medium">Brand:</span> {{ productDetails.brandName }}
        </p>

        <span class="mt-10 sm:mt-auto">
          <div class="rating flex gap-1">
            <p class="font-medium text-[0.9rem] md:text-[1rem] mr-1">Rating:</p>
            <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
              <mat-icon
                *ngIf="productDetails.rating !== undefined"
                color="warn"
                (click)="updateRating(productDetails, i + 1)"
                class="cursor-pointer"
              >
                {{ i < productDetails.rating ? "star" : "star_border" }}
              </mat-icon>
            </ng-container>
          </div>
        </span>

        <app-cart-button [productItem]="productDetails"></app-cart-button>
      </div>
    </div>
  </main>
</div>

<app-catalogue [products]="filterProducts"></app-catalogue>
