<div class="bg-white relative font-sans">
  <nav
    class="fixed top-0 right-0 left-0 h-20 px-8 items-center flex justify-between z-100 bg-blue-100 shadow-md"
  >
    <span class="flex items-center gap-1">
      <i class="fas fa-store text-2xl text-blue-900"></i>
      <p class="font-bold text-2xl text-blue-800">StackStore</p>
    </span>

    <div
      class="relative flex gap-2 items-end text-gray-800 hover:text-blue-800 cursor-pointer"
    >
      <i class="fas fa-cart-plus text-3xl"></i>
      <p
        class="absolute -top-3 left-7 bg-red-500 h-5 w-fit px-1 py-1 flex justify-center items-center text-[0.8rem] text-white rounded-full"
      >
        0
      </p>
      <p class="font-medium text-lg">Cart</p>
    </div>
  </nav>
  <main class="w-[90vw] flex justify-center mt-20">
    <div class="mt-8 shadow-2xl w-[25vw] border-2 border-blue-800 rounded-2xl">
      <div class="w-[25vw] flex justify-center">
        <img src="assets/image/sc1.jpg" alt="Ceramide Cream" class="h-70" />
      </div>

      <div
        class="text-gray-800 flex flex-col gap-1 px-2 bg-blue-200 rounded-b-2xl"
      >
        <h3 class="font-bold text-[1.2rem]">GlamCare</h3>
        <p class="font-medium text-[1rem] text-gray-600">₦7000</p>
        <p class="text-[1rem] text-gray-600">
          Best Sunscreen SPF for unlimited protection
        </p>

        <div class="rating mt-1">
          <p class="font-medium text-md mr-1">Rating:</p>
          <ng-container *ngFor="let star of stars; let i = index">
            <mat-icon
              class="star"
              [class.filled]="i < rating"
              (click)="setRating(i + 1)"
            >
              {{ i < rating ? "star" : "star_border" }}
            </mat-icon>
          </ng-container>
        </div>

        <div class="pb-3 ml-auto">
          <a mat-flat-button routerLink="." class="custom-button mt-5"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
  </main>
</div>
