.custom-button {
  font-size: 0.8rem;
  font-weight: 600 !important;
  border-radius: 9px;
  background-color: #103fe9 !important;
}

.rating {
  display: flex;
  gap: 2px;
  cursor: pointer;
}

.star {
  font-size: 0.9rem;
  color: #ccc;
  transition: color 0.2s;
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .star {
    font-size: 0.9rem;
  }
}
