<div class="bg-white relative font-sans">
  <nav
    class="fixed top-0 right-0 left-0 h-20 px-8 items-center flex justify-between z-100 bg-blue-200 shadow-md"
  >
    <span class="flex items-center gap-1">
      <i class="fas fa-store text-2xl text-blue-900"></i>
      <p class="font-bold text-2xl text-blue-800">StackStore</p>
    </span>

    <div
      class="relative flex gap-2 items-end text-gray-800 hover:text-blue-800 cursor-pointer"
    >
      <i class="fas fa-cart-plus text-3xl"></i>
      <p
        class="absolute -top-3 left-7 bg-red-500 h-5 w-fit px-1 py-1 flex justify-center items-center text-[0.8rem] text-white rounded-full"
      >
        0
      </p>
      <p class="font-medium text-lg">Cart</p>
    </div>
  </nav>
  <main class="flex gap-8 mt-28 px-3 flex-wrap justify-center">
    <div
      *ngFor="let product of products"
      class="shadow-lg shadow-gray-400 w-70 border-2 border-blue-800 rounded-2xl"
    >
      <div class="w-full flex justify-center">
        <img
          [src]="product?.image"
          alt="{{ product.name }}"
          class="object-cover h-50 rounded-t-2xl"
        />
      </div>

      <div class="text-gray-700 flex flex-col px-2 bg-blue-200 rounded-b-2xl">
        <h3 class="font-bold md:text-[1.2rem] text-[1.1rem] text-gray-800">
          {{ product?.name }}
        </h3>
        <p class="font-medium md:text-[1rem] text-[0.9rem]">
          ₦{{ product?.price }}
        </p>
        <p class="md:text-[1rem] text-[0.9rem]">
          {{ product?.description }}
        </p>

        <div class="rating">
          <p class="font-medium md:text-[1rem] text-[0.9rem] mr-1">Rating:</p>
          <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
            <mat-icon
              color="warn"
              (click)="updateRating(product, i + 1)"
              class="cursor-pointer"
            >
              {{ i < product.rating ? "star" : "star_border" }}
            </mat-icon>
          </ng-container>
        </div>

        <div class="ml-auto mt-2 pb-2">
          <a
            mat-flat-button
            routerLink="."
            class="custom-button bg-blue-600 text-white px-4 py-2 rounded"
          >
            Add to Cart
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
