<div class="relative">
  <nav
    class="fixed top-0 right-0 left-0 h-20 md:px-8 sm:px-6 p-4 items-center flex justify-between z-100 bg-blue-200 shadow-md"
  >
    <div class="flex items-end">
      <img
        src="assets/image/logo2.png"
        alt=""
        class="md:w-15 sm:w-10 w-8 object-cover"
      />

      <p class="font-bold md:text-2xl sd:text-xl text-[1rem] text-blue-800">
        StackStore
      </p>
    </div>

    <div
      class="relative flex gap-2 items-end text-gray-800 hover:text-blue-800 cursor-pointer"
    >
      <i class="fas fa-cart-plus md:text-3xl sm-text[1.6rem] text-[1.4rem]"></i>
      <p
        class="absolute -top-3 sm:left-7 left-5 bg-blue-800 h-5 w-5 px-1 py-1 flex justify-center items-center sm:text-[0.8rem] text-[0.6rem] text-white rounded-full"
      >
        {{ cartCount }}
      </p>
      <p class="font-medium md:text-lg sm:text-[1rem] text-[0.85rem]">Cart</p>
    </div>
  </nav>
</div>
