<app-navigation-bar></app-navigation-bar>

<div
  class="relative bg-[#20263c] w-full flex justify-center items-center h-[150px] sm:h-[240px] md:h-[270px] lg:h-[300px] lg:mt-20 md:mt-16 sm:mt-14 mt-12 font-sans shadow-lg"
>
  <div class="relative w-[60%] h-full">
    <img
      ngSrc="assets/image/sc14.jpg"
      fill
      priority
      class="object-contain"
      alt=""
    />
  </div>
  <div
    class="text-white absolute bottom-6 left-4 sm:left-8 md:left-12 lg:left-20 lg:w-[450px] md:w-[350px] sm:w-[320px] w-[240px]"
  >
    <span
      class="font-bold text-[0.9rem] lg:text-[1.8rem] md:text-[1.5rem] sm:text-[1.2rem]"
    >
      <h3>New Arrival!!</h3>
    </span>
    <p
      class="font-medium text-justify lg:text-[1.1rem] md:text-[0.9rem] sm:text-[0.7rem] text-[0.5rem]"
    >
      Pure radiance in a bottle.
      <br />
      <a
        href="#catalogue"
        class="font-bold lg:text-[1.15rem] md:text-[0.8rem] sm:text-[0.6rem] text-[0.55rem] underline underline-offset-2 cursor-pointer hover:text-blue-900"
        >Shop now</a
      >
      and glow with confidence.
    </p>
  </div>
</div>

<div id="catalogue" class="lg:pt-20 md:pt-16 pt-14">
  <p
    class="bg-blue-300 text-center md:py-3 py-1.5 md:mb-10 mb-6 font-extrabold lg:text-3xl md:text-2xl text-xl text-gray-800"
  >
    Shop now
  </p>
  <app-catalogue></app-catalogue>
</div>
