<app-navigation-bar></app-navigation-bar>

<div
  class="relative w-full lg:h-[570px] md:h-[500px] sm:h-[450px] h-[300px] lg:mt-20 md:mt-18 sm:mt-16 mt-14 font-sans shadow-lg"
>
  <div class="relative w-full h-full">
    <img
      ngSrc="assets/image/bg.jpg"
      fill
      priority
      class="object-cover"
      alt=""
    />
  </div>
  <div
    class="text-white absolute md:top-30 sm:top-20 top-15 left-10 lg:w-100 md:w-90 sm:w-80 w-60"
  >
    <span class="font-bold lg:text-5xl md:text-4xl sd:text-3xl text-xl">
      <h3>Glow Naturally.</h3>
      <h3>Shine Daily.</h3>
    </span>
    <p
      class="font-medium text-justify lg:text-lg md:text-[1rem] sm:text-[0.85rem] text-[0.7rem] mt-3"
    >
      Discover skincare that loves you back. From gentle cleansers to radiant
      serums, we deliver clean and effective beauty your skin deserves.
      <br />
      <a
        href="#catalogue"
        class="font-bold lg:text-xl md:text-[1.1rem] sm:text-[0.9rem] text-[0.8rem] underline underline-offset-2 cursor-pointer hover:text-blue-900"
        >Shop now</a
      >
      and glow with confidence.
    </p>
  </div>
</div>

<div id="catalogue" class="lg:pt-21 md:pt-19 sm:pt-17 pt-15">
  <p
    class="bg-blue-300 text-center md:py-3 py-1.5 md:mb-10 mb-6 font-extrabold lg:text-3xl md:text-2xl text-xl text-gray-800"
  >
    Shop now
  </p>
  <app-catalogue></app-catalogue>
</div>
