<app-navigation-bar></app-navigation-bar>
<div
  class="bg-gray-200 h-screen flex flex-col items-center pt-20 md:pt-24 lg:pt-28"
>
  <ng-template #emptyCart>
    <div
      class="flex flex-col items-center justify-center gap-5 min-h-[calc(100vh-5rem)]"
    >
      <p class="font-medium text-center text-lg text-gray-800">
        Your cart
        <i class="fas fa-cart-plus text-[0.8rem] sm:text-[1rem] md:text-lg"></i>
        is empty
      </p>
      <button
        routerLink="/"
        class="bg-blue-700 hover:bg-blue-800 cursor-pointer text-white border-0 py-2 px-4 rounded"
      >
        Start Shopping
      </button>
    </div>
  </ng-template>

  <div
    *ngIf="cartItems.length > 0; else emptyCart"
    class="font-sans flex flex-col"
  >
    <button
      (click)="goBack()"
      class="text-black text-[1rem] font-medium py-1 mr-auto mb-1 w-20 bg-gray-200 hover:text-gray-700 cursor-pointer rounded-lg"
    >
      <i class="fas fa-angle-left"></i>
      Back
    </button>

    <main
      class="w-[80vw] md:w-[70vw] pt-4 flex flex-col overflow-hidden h-[calc(100vh-7.5rem)] sm:h-[calc(100vh-7.5rem)] md:h-[calc(100vh-8.5rem)] lg:h-[calc(100vh-9.3rem)] shadow-md bg-white rounded-t-xl"
    >
      <div class="mx-4 h-[calc(100vh-7.5rem)] overflow-y-auto hide-scrollbar">
        <div
          *ngFor="let item of cartItems; let i = index; let last = last"
          class="flex gap-3 border-b-2 border-gray-300"
        >
          <div class="bg-white">
            <img
              [src]="item.image"
              [alt]="item.name"
              class="object-contain w-16 sm:w-20 md:w-36 lg:w-40 h-20 sm:h-24 md:h-32 lg:h-36"
            />
          </div>

          <div class="text-gray-700 flex py-3 justify-between w-full">
            <span>
              <h3
                class="font-bold text-[0.9rem] md:text-[1.2rem] text-gray-700"
              >
                {{ item.name }}
              </h3>
              <p *ngIf="item.slug" class="text-[0.9rem]">
                Quantity: {{ getQuantity(item.slug) }}
              </p>
            </span>

            <div class="flex flex-col items-center">
              <p
                class="font-medium text-gray-800 text-[0.9rem] md:text-[1.1rem] pt-2"
              >
                ₦{{
                  (item.price ?? 0) * getQuantity(item.slug ?? "")
                    | number : "1.0-0"
                }}
              </p>
              <span class="mt-auto">
                <app-cart-button
                  [productItem]="item"
                  (quantityChanged)="refreshCartItems()"
                ></app-cart-button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div
        class="mt-auto flex font-medium shadow-inner shadow-gray-200 text-gray-700 flex-col"
      >
        <div class="flex justify-between mt-4 pb-2 px-4">
          <p class="text-[1rem] md:text-lg">Total Price</p>
          <p
            class="text-right text-[1.1rem] md:text-xl text-gray-800 font-bold"
          >
            ₦{{ getTotalPrice() | number : "1.0-0" }}
          </p>
        </div>

        <button
          routerLink="/checkout"
          mat-flat-button
          color="accent"
          class="payment-btn w-full"
        >
          Check Out
        </button>
      </div>
    </main>
  </div>
</div>
