<div class="bg-gray-200">
  <app-navigation-bar></app-navigation-bar>
  <ng-template #emptyCart>
    <p
      class="lg:mt-28 md:mt-24 mt-20 bg-white font-medium text-center text-lg text-gray-800"
    >
      Your cart is empty 🛒
    </p>
  </ng-template>

  <div
    *ngIf="cartItems.length > 0; else emptyCart"
    class="pb-10 font-sans flex gap-8 justify-center lg:pt-28 md:pt-24 pt-20"
  >
    <main class="bg-white rounded-xl shadow-md w-[60vw]">
      <button
        (click)="goBack()"
        class="text-black text-[1rem] font-medium py-1 mb-2 w-20 bg-gray-200 hover:text-gray-700 cursor-pointer rounded-lg"
      >
        <i class="fas fa-angle-left"></i>
        Back
      </button>
      <div
        *ngFor="let item of cartItems"
        class="flex gap-3 border-b-1 px-4 py-2"
      >
        <div class="bg-white">
          <img
            [src]="item.image"
            [alt]="item.name"
            class="object-contain lg:w-40 md:w-35 sm:w-20 w-15 lg:h-40 md:h-35 sm:h-25 h-20"
          />
        </div>

        <div class="text-gray-700 flex justify-between w-full">
          <span class="">
            <h3 class="font-bold md:text-[1.5rem] text-[1.2rem] text-gray-800">
              {{ item.name }}
            </h3>
            <p *ngIf="item.slug" class="text-lg">
              Quantity: {{ getQuantity(item.slug) }}
            </p>
          </span>

          <div class="flex flex-col gap-2">
            <p
              class="font-medium text-gray-950 md:text-[1.3rem] text-[1.1rem] pt-2"
            >
              ₦{{
                (item.price ?? 0) * getQuantity(item.slug ?? "")
                  | number : "1.0-0"
              }}
            </p>
            <span class="mt-auto">
              <app-cart-button [productItem]="item"></app-cart-button>
            </span>
          </div>
        </div>
      </div>
    </main>
    <div class="h-50 w-[25vw] shadow-md bg-white">
      <h1>sign out</h1>
    </div>
  </div>

  <!-- <app-catalogue [item]="filteritem"></app-catalogue> -->
</div>
