<div class="bg-gray-200 min-h-screen flex flex-col items-center">
  <app-navigation-bar></app-navigation-bar>
  <ng-template #emptyCart>
    <div
      class="flex flex-col items-center justify-center gap-5 min-h-[calc(100vh-5rem)]"
    >
      <p class="font-medium text-center text-lg text-gray-800">
        Your cart
        <i class="fas fa-cart-plus md:text-lg sm-text[1rem] text-[0.8rem]"></i>
        is empty
      </p>
      <button
        routerLink="/"
        class="bg-blue-700 hover:bg-blue-800 cursor-pointer text-white border-0 py-2 px-4 rounded"
      >
        Start Shopping
      </button>
    </div>
  </ng-template>

  <div
    *ngIf="cartItems.length > 0; else emptyCart"
    class="pb-30 font-sans flex flex-col lg:pt-28 md:pt-24 pt-20"
  >
    <button
      (click)="goBack()"
      class="text-black text-[1rem] font-medium py-1 mr-auto mb-2 w-20 bg-gray-200 hover:text-gray-700 cursor-pointer rounded-lg"
    >
      <i class="fas fa-angle-left"></i>
      Back
    </button>

    <main
      class="md:w-[70vw] w-[80vw] flex flex-col h-96 px-4 mb-20 shadow-lg bg-white rounded-xl"
    >
      <div
        *ngFor="let item of cartItems; let i = index; let last = last"
        class="flex gap-3 border-b-2 border-gray-400"
      >
        <div class="bg-white">
          <img
            [src]="item.image"
            [alt]="item.name"
            class="object-contain lg:w-40 md:w-36 sm:w-20 w-16 lg:h-36 md:h-32 sm:h-24 h-20"
          />
        </div>

        <div class="text-gray-700 flex py-3 justify-between w-full">
          <span class="">
            <h3 class="font-bold md:text-[1.2rem] text-[0.9rem] text-gray-700">
              {{ item.name }}
            </h3>
            <p *ngIf="item.slug" class="text-[0.9rem]">
              Quantity: {{ getQuantity(item.slug) }}
            </p>
          </span>

          <div class="flex flex-col items-center">
            <p
              class="font-medium text-gray-800 md:text-[1.1rem] text-[0.9rem] pt-2"
            >
              ₦{{
                (item.price ?? 0) * getQuantity(item.slug ?? "")
                  | number : "1.0-0"
              }}
            </p>
            <span class="mt-auto">
              <app-cart-button
                [productItem]="item"
                (quantityChanged)="refreshCartItems()"
              ></app-cart-button>
            </span>
          </div>
        </div>
      </div>
      <div
        class="w-full mt-auto flex font-medium text-gray-700 flex-col rounded-0"
      >
        <span class="flex justify-between border-b-2 border-gray-400 py-2">
          <p class="md:text-lg text-[1rem] pl-4">Total Price</p>
          <p
            class="text-right md:text-xl text-[1.1rem] text-gray-800 pr-3 font-bold"
          >
            ₦{{ getTotalPrice() | number : "1.0-0" }}
          </p>
        </span>

        <p
          routerLink="/checkout"
          class="bg-blue-700 -mx-4 mt-4 cursor-pointer rounded-b-xl text-white py-3 text-center text-lg text"
        >
          Check Out
        </p>
      </div>
    </main>
  </div>
</div>
