@import "tailwindcss";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.custom-button {
  font-size: 0.7rem !important;
  font-weight: 600 !important;
  border-radius: 9px !important ;
  background-color: #103fe9 !important;
}

.add-btn {
  border-radius: 9px !important;
  width: 37px !important;
  height: 37px !important;
  background-color: #103fe9 !important;
}

/* Medium screens (≥768px) */
@media (min-width: 768px) {
  .star {
    font-size: 0.9rem;
  }
}
