@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.custom-button {
  font-size: 0.7rem !important;
  font-weight: 600 !important;
  border-radius: 9px !important ;
  background-color: #103fe9 !important;
}

.payment-btn {
  font-size: 1rem !important;
  font-weight: 600 !important;
  font-family: sans-serif !important;
  border-radius: 9px !important ;
  padding: 1.2vh 0 !important;
  color: #fff !important;
  cursor: pointer;
  background-color: #103fe9 !important;
}

.add-btn {
  border-radius: 3px !important;
  width: 20px !important;
  height: 20px !important;
  background-color: #103fe9 !important;
}

.add-btn-icon {
  font-size: 1.2rem !important;
  margin-top: 3px !important;
}

@media (min-width: 768px) {
  .star {
    font-size: 0.9rem;
  }
  .add-btn {
    border-radius: 7px !important;
    width: 32px !important;
    height: 32px !important;
  }

  .add-btn-icon {
    font-size: 1.3rem !important;
    margin-top: 3px !important;
  }

  .payment-btn {
    font-size: 1.1rem !important;
  }
}

@media (min-width: 1024px) {
  .add-btn {
    width: 37px !important;
    height: 37px !important;
  }
}
