<app-navigation-bar></app-navigation-bar>
<div
  class="bg-gray-200 h-screen flex flex-col items-center pt-20 md:pt-24 lg:pt-28"
>
  <div
    *ngIf="summaryCart && cartItems.length > 0; else showEmptyAndSuccess"
    class="font-sans flex flex-col"
  >
    <button
      (click)="goBack()"
      class="text-black text-[1rem] font-medium py-1 mr-auto mb-1 w-20 bg-gray-200 hover:text-gray-700 cursor-pointer rounded-lg"
    >
      <i class="fas fa-angle-left"></i>
      Back
    </button>

    <div
      *ngIf="cartItems"
      class="w-[80vw] sm:w-[70vw] lg:w-[75vw] h-[calc(100vh-7.5rem)] sm:h-[calc(100vh-7.5rem)] md:h-[calc(100vh-8.5rem)] lg:h-[calc(100vh-9.3rem)] overflow-hidden rounded-t-xl shadow-lg bg-white flex flex-col pt-4"
    >
      <h3
        class="font-medium mx-4 text-center text-gray-700 text-[1rem] border-b-2 border-gray-400"
      >
        CART SUMMARY
      </h3>

      <div class="overflow-auto max-h-[350px] hide-scrollbar mx-4 pr-1">
        <table class="w-full text-gray-700 text-[1rem] border-collapse">
          <thead class="sticky top-0 bg-white z-10">
            <tr>
              <th class="text-left pb-1">Items</th>
              <th class="pb-1">Qty</th>
              <th class="text-right pb-1">Price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of cartItems">
              <td class="pb-1">{{ item.name }}</td>
              <td class="text-center pb-1" *ngIf="item.slug">
                {{ getQuantity(item.slug) }}
              </td>
              <td class="text-right pb-1">₦{{ item.price }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="mt-auto shadow-inner shadow-gray-200">
        <div class="flex justify-between mt-4 pb-2 px-4 border-gray-400">
          <p class="text-gray-600 font-medium text-[1rem]">Total Price</p>
          <p
            class="text-[1.02rem] sm:text-[1.2rem] text-gray-700 font-semibold"
          >
            ₦{{ getTotalPrice() | number : "1.0-0" }}
          </p>
        </div>

        <button
          *ngIf="displayPaymentBtn"
          (click)="checkOut()"
          mat-flat-button
          color="accent"
          class="payment-btn w-full"
        >
          <p *ngIf="!displayLoadSpinner">
            Make payment ( ₦{{ getTotalPrice() | number : "1.0-0" }})
          </p>
          <i
            *ngIf="displayLoadSpinner"
            class="fas fa-circle-notch fa-spin text-xl text-white"
          ></i>
        </button>
      </div>
    </div>
  </div>

  <ng-template #showEmptyAndSuccess>
    <div class="flex flex-col items-center px-4 py-10 w-full h-full">
      <div *ngIf="succesfulPayment" class="text-gray-700">
        <p class="text-lg">
          Payment Successful
          <i class="fa fa-check-circle ml-1 text-green-600"></i>
        </p>
        <p class="text-xl">
          Order ID: <strong>{{ orderId }}</strong>
        </p>
      </div>

      <div
        *ngIf="!summaryCart || cartItems.length === 0"
        class="flex flex-col items-center justify-center gap-3 mt-auto"
      >
        <p class="font-medium text-center text-lg text-gray-800">
          Your cart
          <i
            class="fas fa-cart-plus text-[0.8rem] sm:text-[1rem] md:text-lg"
          ></i>
          is empty
        </p>
        <button
          routerLink="/"
          class="bg-blue-700 hover:bg-blue-800 cursor-pointer text-white border-0 py-2 px-4 rounded"
        >
          Start Shopping
        </button>
      </div>
    </div>
  </ng-template>
</div>
